<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- Local API Services  -->
    <add key="UsersServices" value="http://localhost:2969/" />
    <add key="User.ByUsername" value="{UsersServices}/api/user/byusername/{username}/" />
    <add key="User.ByEmail" value="{UsersServices}/api/user/byemail/{email}/" />
    <add key="User.Add" value="{UsersServices}/api/user/Add" />
    <add key="User.Update" value="{UsersServices}/api/user/Update/{id}/" />
    <add key="Category.ByIdUser" value="{UsersServices}/api/category/byiduser/{idUser}/" />
    <add key="Category.Add" value="{UsersServices}/api/category/Add" />
    
    <!-- GIPHY API Services  -->
    <add key="SearchGiphy" value="https://api.giphy.com/v1/gifs/search?api_key=" />
    <add key="GetGiphyById" value="https://api.giphy.com/v1/gifs/{ID}?api_key=" />
    
    <!--Encryption Keys -->
    <add key="AESCBCKey" value="45Y78n7dPc12julrWGIPHY==" />
    <add key="AESCBCIV" value="e+mONheb2Pq/1GkUSOgiphy==" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
</configuration>